.cart-container {
  position: relative;
  top: 200px;
  margin-left: 115px;
  margin-right: 115px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 100px;
}
.cart-routes {
  display: flex;
  column-gap: 15px;
  cursor: pointer;
}
.cart-route-1 {
  opacity: 0.5;
}
.cart-route-slash {
  opacity: 0.5;
}
.cart-no-item {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  height: 200px;
}
.cart-no-item > button {
  background-color: transparent;
  color: #db4444;
  border: none;
  font-weight: 400;
  font-size: 18px;
}
.cart-headers {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 72px;
  box-shadow: 0 0 1px 1px #0000000d;
  border-radius: 4px;
  font-weight: 500;
  margin-top: 15px;
}
.cart-headers-product {
  flex-basis: 30%;
}
.cart-headers > p {
  flex-basis: 20%;
}
.cart-clear {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.cart-hide-clear {
  display: none;
}
.cart-items-wrapper {
  margin-top: 30px;
}
.cart-items {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 102px;
  box-shadow: 0 0 1px 1px #0000000d;
  border-radius: 4px;
}
.cart-image-area {
  position: relative;
  flex-basis: 30%;
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.cart-cancel-icon {
  position: absolute;
  top: 0;
  color: #db4444;
  background-color: white;
  border-radius: 10px;
}
.cart-image-area > img {
  width: 50px;
  height: 54px;
  font-size: 12px;
  font-style: italic;
}
.cart-image-area > aside {
  width: 120px;
  word-wrap: break-word;
}
.cart-items > p {
  flex-basis: 20%;
}
.cart-input-wrapper {
  flex-basis: 20%;
}
.cart-input-wrapper > input {
  width: 72px;
  height: 44px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #00000066;
}
.cart-active-input {
  background-color: #a3a0a0;
  color: white;
}
.cart-message {
  position: absolute;
  color: #db4444;
  right: 5px;
  top: 3px;
}
.cart-button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cart-coup-checkout {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.cart-coupon {
  flex-basis: 50%;
  display: flex;
  column-gap: 20px;
}
.cart-checkout {
  box-sizing: border-box;
  flex-basis: 35%;
  padding: 0px 20px 30px 20px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.cart-checkout > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.cart-checkout > div {
  display: flex;
  justify-content: space-between;
}
.cart-checkout > div > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.cart-checkout-btn {
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .cart-container {
    position: relative;
    top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .cart-routes {
    column-gap: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }
  .cart-no-item {
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 18px;
    line-height: 23px;
  }
  .cart-no-item > button {
    font-size: 17px;
  }
  .cart-headers {
    column-gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
  }
  .cart-headers > p {
    flex-basis: 20%;
  }
  .cart-clear {
    margin-top: 10px;
  }
  .cart-items-wrapper {
    margin-top: 10px;
  }
  .cart-items-wrapper > aside:nth-child(1) {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    max-height: 60px;
  }
  .cart-items {
    column-gap: 5px;
    padding: 5px 10px;
    height: auto;
  }
  .cart-items > p {
    font-weight: 500;
    font-size: 13px;
  }
  .cart-image-area {
    display: block;
    padding: 2px 0;
  }
  .cart-input-wrapper > input {
    width: 50px;
    height: 25px;
  }
  .cart-message {
    right: 2px;
    top: 2px;
    font-size: 13px;
  }
  .cart-coup-checkout {
    margin-top: 20px;
    display: block;
  }
  .cart-checkout {
    margin-top: 20px;
    padding: 0px 10px 20px 10px;
    border: 1px solid #00000080;
  }
  .cart-checkout > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin: 5px 0;
  }
  .cart-checkout > div > p {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0;
  }
  .cart-update-lg {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .cart-container {
    position: relative;
    top: 150px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
  }
  .cart-routes {
    column-gap: 10px;
  }
  .cart-no-item {
    font-size: 20px;
    line-height: 25px;
  }
  .cart-no-item > button {
    font-size: 17px;
  }
  .cart-headers {
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
  }
  .cart-items-wrapper {
    margin-top: 20px;
  }
  .cart-items {
    padding-left: 15px;
    padding-right: 15px;
    max-height: 80px;
    height: auto;
  }
  .cart-image-area > span {
    font-size: 14px;
    line-height: 16px;
  }
  .cart-input-wrapper > input {
    width: 50px;
    height: 30px;
  }

  .cart-coup-checkout {
    margin-top: 20px;
  }
  .cart-checkout {
    flex-basis: 50%;
  }
  .cart-checkout > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin: 5px 0;
  }
  .cart-checkout > div > p {
    font-size: 15px;
    line-height: 20px;
    margin: 5px 0;
  }
  .cart-update-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .cart-update-sm {
    display: none;
  }
}
