.flashSales-container {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 115px;
  position: relative;
}
.flash-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flash-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}
.flash-today {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #db4444;
  margin-left: 15px;
}
.flash-info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.flash-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1.44px;
  margin-top: 16px;
}
.flash-cntdwn-arrow-wrapper {
  display: flex;
  flex-direction: row;
}
.flash-countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 1.28px;
  margin-left: 110px;
  column-gap: 16px;
}
.flash-countdown > div > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}
.flash-colon {
  font-weight: 500;
  font-size: 28px;
  line-height: 18px;
  color: #e07575;
  margin-top: 20px;
}
.flash-swiper-arrow {
  display: flex !important;
  right: 0px !important;
  position: absolute !important;
  z-index: 10;
}
.swiper-button-prev,
.swiper-button-next {
  all: initial !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0) !important;
  transform: scale(0.6) !important;
  margin-left: 5px !important;
  background-color: #f5f5f5 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 30px !important;
  text-align: center !important;
  padding: 5px !important;
}

.flash-swiper-slide {
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
}
.flash-swiper-slide-div {
  width: 100%;
  height: 370px;
}
.flash-image-sect {
  position: relative;
  box-sizing: border-box;
  padding-top: 45px;
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 250px;
}
.flash-image-wrapper {
  align-content: center;
  text-align: center;
}
.flash-image {
  max-width: 100%;
  max-height: 200px;
}
.flash-heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.flash-eye {
  position: absolute;
  top: 50px;
  right: 10px;
}
.flash-icon {
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}
.flash-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  width: 55px;
  height: 23px;
  border-radius: 4px;
  text-align: center;
  padding-top: 3px;
  background-color: #db4444;
  color: #ffffff;
}
.flash-add-to-cart {
  position: absolute;
  bottom: 0;
  opacity: 0;
  height: 46px;
  width: 100%;
}
.flash-add-to-cart:hover {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  height: 46px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 0 0 4px 4px;
}
.flash-add-to-cart > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.flash-add-icon {
  width: 24px;
  height: 24px;
}
.flash-item-name,
.flash-new-price,
.flash-old-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
.flash-new-price {
  color: #db4444;
}
.flash-old-price {
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
  text-decoration: line-through;
}
.flash-star-rating-wrapper {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.flash-rating {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
}
.flash-btn-wrapper {
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 600px) {
  .flashSales-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .flash-info1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .flash-today {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
  .flash-info2 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .flash-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .flash-countdown {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-left: 0px;
    column-gap: 5px;
  }
  .flash-countdown > div > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .flash-colon {
    font-weight: 400;
    font-size: 15px;
    margin-top: 18px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .flash-swiper-slide-div {
    height: 240px;
  }
  .flash-image-sect {
    padding-top: 25px;
    height: 150px;
    border-radius: 10px;
    justify-items: center;
  }
  .flash-image {
    box-sizing: border-box;
    padding: 10px;
    max-height: 120px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(0.4) !important;
  }
  .flash-discount {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 20px;
    padding-top: 0px;
  }
  .flash-heart {
    top: 5px;
    right: 5px;
  }
  .flash-eye {
    top: 45px;
    right: 5px;
  }
  .flash-icon {
    width: 16px;
    height: 16px;
  }
  .flash-add-to-cart {
    height: 25px;
    margin-bottom: initial;
  }
  .flash-add-to-cart:hover {
    height: 25px;
    margin-bottom: initial;
  }
  .flash-item-name,
  .flash-new-price,
  .flash-old-price {
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }
  .flash-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 0px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .flashSales-container {
    margin-top: 40px;
    margin-left: 25px;
  }
  .flash-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .flash-countdown {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
    margin-left: 30px;
    column-gap: 8px;
  }
  .flash-swiper-slide-div {
    height: 280px;
  }
  .flash-image-sect {
    padding-top: 35px;
    height: 180px;
  }
  .flash-image {
    box-sizing: border-box;
    padding: 10px;
    max-width: 90%;
    max-height: 150px;
  }
  .flash-heart {
    top: 5px;
    right: 5px;
  }
  .flash-icon {
    width: 18px;
    height: 18px;
  }
  .flash-eye {
    top: 45px;
    right: 5px;
  }
  .flash-add-to-cart {
    height: 30px;
    margin-bottom: initial;
  }
  .flash-add-to-cart:hover {
    height: 30px;
    margin-bottom: initial;
  }
  .flash-item-name,
  .flash-new-price,
  .flash-old-price {
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .flash-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 3px;
  }
}
