.search-container {
  position: relative;
  top: 200px;
  margin-left: 115px;
  margin-right: 115px;
  margin-bottom: 70px;
}
.search-path {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.search-path1 {
  opacity: 50%;
  margin-right: 12px;
}
.search-path2 {
  margin-left: 12px;
  opacity: 80%;
}
.search-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1.44px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.search-header > div > i {
  color: #db4444;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 1px;
}

.search-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 24px;
  row-gap: 10px;
  justify-content: space-evenly;
}
.search-grid > div {
  position: relative;
  width: 260px;
  border: 1px solid #ebebeb;
}
.search-image-sect {
  box-sizing: border-box;
  padding-top: 45px;
  position: relative;
  background-color: #f5f5f5;
  width: 260px;
  height: 250px;
}
.search-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  width: 55px;
  height: 23px;
  border-radius: 4px;
  text-align: center;
  padding-top: 3px;
  background-color: #db4444;
  color: #ffffff;
}
.search-heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.search-eye {
  position: absolute;
  top: 50px;
  right: 10px;
}
.search-edit {
  position: absolute;
  bottom: 50px;
  right: 5px;
}
.search-delete {
  position: absolute;
  bottom: 50px;
  left: 5px;
}
.search-icon {
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}
.search-warning{
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 5px;
  background-color: white;
  height: 40px;
  width: 100%;
}
.search-warning>button:nth-child(1){
  box-sizing: border-box;
  background-color: red;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 3px;
}
.search-warning>button:nth-child(2){
  box-sizing: border-box;
  background-color: green;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 3px;
}
.search-image-wrapper {
  align-content: center;
  text-align: center;
}
.search-image {
  max-width: 190px;
  max-height: 160px;
  margin-top: 25px;
}
.search-add-to-cart {
  position: absolute;
  bottom: 0;
  opacity: 0;
  height: 46px;
  width: 100%;
}
.search-add-to-cart:hover {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  height: 46px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 0 0 4px 4px;
}
.search-add-to-cart > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.explore-add-icon {
  width: 24px;
  height: 24px;
}
.search-item-name,
.search-new-price {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 5px;
}
.search-new-price {
  color: #db4444;
}
.search-old-price {
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
  text-decoration: line-through;
}
.search-star-rating-wrapper {
  display: flex;
  margin-top: 5px;
}
.search-rating {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .search-container {
    top: 120px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .search-info {
    margin-left: 10px;
  }
  .search-path {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }
  .search-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .search-header > div > i {
    color: #db4444;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  .search-grid {
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  .search-grid > div {
    width: 160px;
  }
  .search-image-sect {
    width: 100%;
    height: 150px;
    border-radius: 4px;
  }
  .search-image {
    max-width: 95%;
    max-height: 100px;
    margin-top: 0px;
  }
  .search-discount {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 20px;
    padding-top: 0px;
  }
  .search-heart {
    top: 5px;
    right: 5px;
  }
  .search-eye {
    top: 5px;
    right: 50px;
  }
  .search-edit {
    bottom: 30px;
  }
  .search-delete {
    bottom: 30px;
  }
  .search-icon {
    width: 18px;
    height: 18px;
  }
  .search-add-to-cart {
    height: 25px;
    margin-bottom: initial;
  }
  .search-add-to-cart:hover {
    height: 25px;
    margin-bottom: initial;
  }
  .search-item-name,
  .search-new-price,
  .search-old-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  .search-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 3px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .search-container {
    top: 150px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
  }
  .search-header {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }
  .search-header > div > i {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }
  .search-grid {
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 20px;
  }
  .search-grid > div {
    width: 150px;
  }
  .search-image-sect {
    width: 100%;
    height: 150px;
  }
  .search-image {
    max-width: 95%;
    max-height: 100px;
    margin-top: 0px;
  }
  .search-discount {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 20px;
    padding-top: 0px;
  }
  .search-heart {
    top: 5px;
    right: 5px;
  }
  .search-eye {
    top: 5px;
    right: 50px;
  }
  .search-edit {
    bottom: 40px;
  }
  .search-delete {
    bottom: 40px;
  }
  .search-icon {
    width: 20px;
    height: 20px;
  }
  .search-add-to-cart {
    height: 30px;
    margin-bottom: initial;
  }
  .search-add-to-cart:hover {
    height: 30px;
    margin-bottom: initial;
  }
  .search-item-name,
  .search-new-price,
  .search-old-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .search-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 3px;
  }
}
