.reset-container {
  position: relative;
  top: 200px;
  margin-left: 115px;
  margin-right: 115px;
  margin-bottom: 100px;
}
.reset-container > header {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.reset-form {
  box-sizing: border-box;
  box-shadow: 0 0 2px 0px #80808080;
  width: 400px;
  height: 200px;
  padding: 20px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .reset-container {
    top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .reset-container {
    top: 150px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
  }
}
