.explore-container {
  margin-top: 50px;
  margin-left: 125px;
  margin-right: 125px;
}
.explore-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.explore-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}
.explore-product {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #db4444;
  margin-left: 15px;
}
.explore-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1.44px;
  margin-top: 10px;
  margin-bottom: 60px;
}
.explore-swiper-arrow{
  display: flex ;
}
.explore-button-prev, .explore-button-next{
margin-left: 10px;
background-color: #f5f5f5;
width: 40px;
height: 40px;
border-radius: 20px;
text-align: center;
font-size: 38px;
}
.explore-swiper-slide{
  margin-bottom: 30px;
}
.explore-swiper-slide-div{
  width: 100%;
}
.explore-image-sect {
  box-sizing: border-box;
  padding-top: 35px;
  position: relative;
  background-color: #f5f5f5;
  /* width: 270px; */
  width: 100%;
  height: 240px;
  justify-items: center;
}
.explore-image {
 /* max-width: 190px; */
 max-width: 100%;
 max-height: 200px;
}
.explore-heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.explore-eye {
  position: absolute;
  top: 50px;
  right: 10px;
}
.explore-icon{
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}
.explore-item-name,
.explore-new-price, .explore-old-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
.explore-new-price {
  color: #db4444;
}
.explore-old-price {
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
  text-decoration: line-through;
}
.explore-star-rating-wrapper {
  display: flex;
}
.explore-rating {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
}
.explore-color-wrapper{
    margin-top: 7px;
}
.explore-clicked-color{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
    padding: 1px 0 1px 2px;
}
.explore-prod-color1{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translateY(-20%);
}
.explore-prod-color2{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.explore-btn-wrapper{
    margin-top: 30px;
    text-align: center;
  }
@media (max-width: 600px) {
  .explore-container {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .explore-info {
    margin-left: 10px;
    margin-right: 10px;
  }
  .explore-product {
    font-weight: 500;
    font-size: 18px;
  }
  .explore-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    align-items: normal;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .explore-image-sect {
    padding-top: 25px;
    height: 150px;
    border-radius: 10px;
    justify-items: center;
  }
  .explore-image {
    box-sizing: border-box;
    padding: 10px;
    max-height: 120px;
  }
  .explore-heart {
    top: 5px;
    right: 5px;
  }
  .explore-eye {
    top: 5px;
    left: 5px;
  }
  .explore-icon {
    width: 15px;
    height: 15px;
  }
  .explore-item-name,
  .explore-new-price, .flash-old-price {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .explore-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 0px;
  }
  
}
@media (min-width: 601px) and (max-width: 768px) {
  .explore-container {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .explore-heart {
    top: 5px;
    right: 5px;
  }
  .explore-eye {
    top: 5px;
    left: 5px;
  }
}
