.acct-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.acct-path {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 16px;
}
.acct-path-title1 {
  opacity: 60%;
  margin-right: 12px;
}
.acct-path-title2 {
  margin-left: 12px;
  opacity: 80%;
}
.acct-username {
  color: #db4444;
}
.acct-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
.acct-manage {
  flex-basis: 25%;
}
.acct-prof-edit {
  flex-basis: 70%;
  box-shadow: 0 0 6px 1px #8080801a;
  border-radius: 4px;
  padding: 40px;
}

@media (max-width: 600px) {
  .acct-wrapper {
    margin-bottom: 50px;
  }
  .acct-path {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .acct-path-title1 {
    font-weight: 400;
    margin-right: 12px;
  }
  .acct-path-title2 {
    font-weight: 500;
    opacity: 90%;
    margin-left: 12px;
  }
  .acct-details {
    display: flex;
    flex-direction: column;
  }
  .acct-manage {
    margin-bottom: 40px;
  }
  .acct-prof-edit {
    box-shadow: 0 0 6px 1px #8080801a;
    border-radius: 4px;
    padding: 10px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .acct-wrapper {
    margin-bottom: 70px;
  }
  .acct-path {
    margin-bottom: 40px;
  }
  .acct-manage {
    flex-basis: 30%;
  }
  .acct-prof-edit {
    flex-basis: 65%;
    box-shadow: 0 0 6px 1px #8080801a;
    border-radius: 4px;
    padding: 30px;
  }
}
