.acct-container {
  position: relative;
  top: 200px;
  margin-left: 115px;
  margin-right: 115px;
  margin-bottom: 70px;
}
.acct-wrapper {
  display: flex;
  flex-direction: column;
}
.acct-path {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 16px;
}
.acct-path-title1 {
  opacity: 60%;
  margin-right: 12px;
}
.acct-path-title2 {
  margin-left: 12px;
  opacity: 80%;
}
.acct-username {
  color: #db4444;
}
.acct-details {
  display: flex;
  column-gap: 5px;
  flex-direction: row;
  justify-content: space-between;
}
.acct-manage {
  flex-basis: 25%;
}
.acct-prof-edit {
  flex-basis: 72%;
}

@media (max-width: 600px) {
  .acct-container {
    position: relative;
    top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .acct-path {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .acct-path-title1 {
    margin-right: 12px;
  }
  .acct-path-title2 {
    opacity: initial;
    margin-left: 12px;
  }
  .acct-details {
    display: flex;
    flex-direction: column;
  }
  .acct-manage {
    margin-bottom: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .acct-container {
    position: relative;
    top: 150px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
  }
  .acct-path {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
  }
  .acct-manage {
    flex-basis: 30%;
  }
}
