.related-container {
  margin-top: 80px;
}
.related-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.related-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}
.related-related {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #db4444;
  margin-left: 15px;
}
.related-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}
.related-image-sect {
  box-sizing: border-box;
  padding-top: 35px;
  position: relative;
  background-color: #f5f5f5;
  width: 260px;
  height: 240px;
  justify-items: center;
}
.related-heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.related-eye {
  position: absolute;
  top: 50px;
  right: 10px;
}
.related-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}
.related-image {
  max-width: 190px;
  max-height: 160px;
  margin-top: 25px;
}
.related-item-name,
.related-new-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
.related-new-price {
  color: #db4444;
}
.related-old-price {
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
  text-decoration: line-through;
}
.related-star-rating-wrapper {
  display: flex;
  margin-top: 5px;
}
.related-rating {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
}

@media (max-width: 600px) {
  .related-container {
    margin-top: 20px;
  }
  .related-info {
    margin-left: 10px;
    margin-right: 10px;
  }
  .related-related {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .related-wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    margin-top: 20px;
  }
  .related-image-sect {
    width: 160px;
    height: 150px;
  }
  .related-image {
    max-width: 75%;
    max-height: 100px;
    margin-top: 0px;
  }
  .related-heart {
    top: 5px;
    right: 5px;
  }
  .related-eye {
    top: 5px;
    left: 5px;
  }
  .related-icon {
    width: 15px;
    height: 15px;
  }
  .related-item-name,
  .related-new-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .related-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 0px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .related-container {
    margin-top: 30px;
  }
  .related-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .related-info {
    margin-left: 25px;
    margin-right: 25px;
  }
  .related-related {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .related-image-sect {
    width: 100%;
    height: 150px;
    border-radius: 20px;
  }
  .related-image {
    max-width: 95%;
    max-height: 100px;
    margin-top: 0px;
  }
  .related-heart {
    top: 5px;
    right: 5px;
  }
  .related-eye {
    top: 5px;
    left: 5px;
  }
  .related-icon {
    width: 15px;
    height: 15px;
  }
  .related-item-name,
  .related-new-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .related-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 0px;
  }
}
