.nav-container {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}
.nav-description {
  background-color: #000000;
  color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 48px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}
.nav-shop-link {
  color: #ffffff;
  padding-left: 20px;
}
.nav-language {
  background-color: black;
  color: white;
  border: black;
  font-size: 14px;
  line-height: 21px;
}
.nav-language > option {
  color: white;
}
.nav-routes {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
}
.nav-navigation-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
}
.nav-navigation-section > div > a {
  text-decoration: none;
  color: black;
}
.nav-header {
  font-weight: 700;
  font-size: 24px;
}
.nav-search {
  position: relative;
}
.nav-search-field {
  background-color: #f5f5f5;
  height: 25px;
  border-width: 0;
  padding: 5px 50px 5px 20px;
  border-radius: 2px;
  width: 155px;
}
.nav-search-field:focus {
  outline: 1px solid #00000033;
}
.nav-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.nav-icons {
  padding-left: 15px;
  padding-right: 15px;
}
.nav-person-icon {
  background-color: #cf1d1d;
  color: white;
  border-radius: 10px;
  padding: 1px;
}
.nav-dropdown {
  position: relative;
}
.nav-dropdown-wrapper {
  position: absolute;
  right: 0;
  background-color: #00000063;
  color: #fafafa;
  padding: 12px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 21px;
}
.nav-dropdown-wrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-dropdown-wrapper > div span {
  padding: 5px 0 0 5px;
}

.nav-horizontal {
  color: #000000;
  opacity: 30%;
  margin: 20px 0 0px 0;
}
.nav-children-container {
  position: relative;
  top: 200px;
}
.nav-children {
  margin-left: 120px;
  margin-right: 120px;
}
.nav-footer {
    margin-top: 120px;
}

@media (max-width: 600px) {
  .nav-description {
    padding: 5px;
  }
  .nav-language-sm-device {
    margin-left: 10px;
    background-color: black;
    color: white;
    border: black;
  }
  .nav-small-device {
    margin-top: -20px;
  }
  .nav-events {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #00000033;
  }
  .nav-search-field {
    height: 20px;
    padding: 4px 40px 4px 10px;
    border-radius: 20px;
    width: 90px;
  }
  .nav-search-icon {
  }

  .nav-icons {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-person-icon {
    background-color: #cf1d1d;
    color: white;
    border-radius: 10px;
    padding: 1px;
  }
  .nav-language {
    display: none;
  }
  .nav-routes {
    display: none;
  }
  .nav-children-container {
    position: relative;
    top: 120px;
  }
  .nav-children {
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-footer {
    margin-top: 50px;
}

  .nav-horizontal {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .nav-routes {
    margin-left: 25px;
    margin-right: 25px;
  }
  .nav-children-container {
    position: relative;
    top: 150px;
  }
  .nav-children {
    margin-left: 25px;
    margin-right: 25px;
  }
  .nav-footer {
    margin-top: 70px;
}
  .nav-language-sm-device {
    display: none;
  }
  .nav-small-device {
    display: none;
  }
  .nav-events-sm {
    display: none;
  }
}

@media (min-width: 769px) {
  .nav-language-sm-device {
    display: none;
  }
  .nav-small-device {
    display: none;
  }
  .nav-events-sm {
    display: none;
  }
}
