.nav-container {
  position: fixed;
  width: 100%;
}

.nav-description {
  background-color: #000000;
  color: #ffffffef;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 48px;
  margin-bottom: 20px;
}
.nav-shop-link {
  color: #ffffff;
  padding-left: 20px;
}
.nav-language{
  background-color: black;
  color: white;
  border: black;
}

.nav-children-container{
  padding-left: 85px;
  padding-right: 85px;
}
.nav-navigation-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.nav-navigation-section a {
  color: #000000;
}
.nav-header{
  font-weight: 700;
  font-size: 24px;

}
.nav-search{
    position: relative;
}
.nav-search-field{
    background-color: #e2e2e267;
    height: 25px;
    border: 1px solid #e2e2e267;
    padding: 4px 45px 4px 20px;
    border-radius: 2px;
}
.nav-search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.nav-icons-wrapper{
  margin-left: -50px;
}
.nav-icons{
  padding-left: 15px;
  padding-right: 15px;
}
.nav-dropdown{
  position: relative;
}
.nav-dropdown-wrapper{
  position: absolute;
  right: 0;
  background-color: #00000063;
  color: #FAFAFA;
  padding: 12px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 21px;
}
.nav-dropdown-wrapper div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-dropdown-wrapper>div span{
  padding: 5px 0 0 5px;
}
.nav-horizontal{
  color: #000000;
  opacity: 30%;
  margin: 20px -85px 50px -85px;
}
.nav-person-icon{
  background-color:#cf1d1d;
  color: white;
  border-radius: 10px;
  padding: 1px;
}
