.prof-container {
  box-shadow: 0 0 6px 1px #8080801a;
  border-radius: 4px;
  padding: 20px;
}
.prof-container > div > p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pro-child{
    margin-top: 15px;
}
.pro-child> button{
    width: 150px;
    height: 40px;
    border: 1px solid #db4444;
    color: #db4444;
    border-radius: 4px;
    margin-top: 15px;
}
.pro-child> button:hover{
    background-color:  #db4444;
    color: #ffffff;
}
@media (max-width: 600px) {
  .prof-container {
    padding: 10px;
  }
  .prof-container > div > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pro-child > button{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 100px;
    height: 30px;
}
}
@media (min-width: 601px) and (max-width: 768px) {
  .prof-container {
    padding: 15px;
  }
  .prof-container > div > p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
