.foot-container {
  position: relative;
  top: 200px;
  background-color: #000000;
  color: #f5f5f5;
  letter-spacing: 0px;
}
.foot-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 100px 20px 100px;
  height: 300px;
  line-height: 24px;
  letter-spacing: 0;
  border-bottom: 1px solid #ffffff1a;
}
.foot-sect1 {
  width: 217px;
}
.foot-sect1 > header {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
  width: 118px;
}
.foot-sect1-sub {
  font-weight: 500;
  font-size: 20px;
  width: 101px;
}
.foot-sect1-get {
  font-weight: 400;
  font-size: 16px;
  width: 206px;
  opacity: 90%;
}
.foot-sect1-email {
  position: relative;
  width: 200px;
}

.foot-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.foot-sect2 {
  width: 175px;
}
.foot-sect2 > header {
  font-weight: 500;
  font-size: 20px;
  width: 82px;
}
.foot-sect2 > p {
  font-weight: 400;
  font-size: 16px;
}
.foot-sect3 {
  width: 115px;
}
.foot-sect3 > header {
  font-weight: 500;
  font-size: 20px;
  width: 86px;
}
.foot-sect3 > p {
  font-weight: 400;
  font-size: 16px;
}
.foot-sect4 {
  width: 110px;
}
.foot-sect4 > header {
  font-weight: 500;
  font-size: 20px;
}
.foot-sect4 > p {
  font-weight: 400;
  font-size: 16px;
}

.foot-sect5 {
  width: 200px;
}

.foot-sect5 > header {
  font-weight: 500;
  font-size: 20px;
}
.foot-sect5 > p {
  font-weight: 400;
  font-size: 13px;
  opacity: 50%;
}
.foot-img {
  display: flex;
  flex-direction: row;
}
.foot-img-btn {
  margin-left: 10px;
}
.foot-img-qrcode {
  width: 80px;
  height: 80px;
}
.foot-img-playstore {
  width: 106px;
  height: 30px;
}
.foot-img-appstore {
  width: 106px;
  height: 35px;
}

.foot-sect5-links {
  margin-top: 10px;
}
.foot-sect5-links > span {
  margin: 100px 30px 0 0;
}

.foot-copyright {
  justify-items: center;
  height: 40px;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 20%;
}

@media (max-width: 600px) {
  .foot-container {
    position: relative;
    top: 140px;
  }
  .foot-wrapper {
    flex-direction: column;
    justify-content: auto;
    row-gap: 20px;
    padding: 20px 0px 10px 10px;
    height: auto;
    line-height: 21px;
  }
  .foot-sect1, .foot-sect2, .foot-sect3, .foot-sect4, .foot-sect5 {
    width: auto;
  }
  .foot-sect1 > header, .foot-sect2 > header, .foot-sect3 >header, .foot-sect4 > header {
    width: auto;
    font-size: 20px;
    line-height: 25px;
  }
  .foot-sect1-sub {
    font-size: 16px;
    line-height: 21px;
    width: auto;
  }
  .foot-sect1-get, .foot-sect2 > p, .foot-sect3 > p, .foot-sect4 > p {
    font-size: 14px;
    line-height: 19px;
    width: auto;
  }
  .foot-sect1-email {
    width: 200px;
  }
  .foot-search-field {
    font-weight: 400;
    font-size: 14px;
    height: 30px;
  }
  .foot-img {
    display: flex;
    flex-direction: column;
  }
  .foot-img-btn {
    margin-left: 0px;
    margin-top: 10px;
  }
  .foot-img-qrcode {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .foot-container {
    position: relative;
    top: 160px;
  }
  .foot-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    padding: 30px;
    height: auto;
    line-height: 22px;
  }
}
