.editProf-container {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  flex-basis: 70%;
  box-shadow: 0 0 6px 1px #8080801a;
  border-radius: 4px;
  padding: 40px;
}
.editProf-form-header {
  color: #db4444;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}
.editProf-form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  row-gap: 12px;
}
.editProf-form-text label {
  opacity: 85%;
}
.editProf-form-password label {
  opacity: 85%;
}
.editProf-form-password {
  grid-column: 1/3;
}
.editProf-btn-wrapper {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 8px;
  justify-content: flex-end;
  padding-top: 5px;
}
.editProf-child > button {
  width: 150px;
  height: 40px;
  border: 1px solid #db4444;
  color: #db4444;
  border-radius: 4px;
}
.editProf-child > button:hover {
  background-color: #db4444;
  color: #ffffff;
}
@media (max-width: 600px) {
  .editProf-container {
    font-size: 14px;
    line-height: 19px;
    padding: 10px;
  }
  .editProf-form-header {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .editProf-form {
    row-gap: 7px;
  }
  .editProf-form-text,
  .editProf-form-password {
    grid-column: 1/3;
  }
  .editProf-child > button {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 100px;
    height: 30px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .editProf-container {
    font-size: 15px;
    line-height: 20px;
    flex-basis: 60%;
    padding: 30px;
  }
  .editProf-form-header {
    font-size: 18px;
    line-height: 22px;
  }
  .editProf-form {
    column-gap: 20px;
    row-gap: 8px;
  }
}
