.register-input,
.login-input {
  background-color: #ffffff;
  border-width: 0;
  border-bottom: 1px solid gray;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 80%;
  width: 99%;
  height: 24px;
}
.register-input:focus,
.login-input:focus {
  outline: none;
}

.editProf-input-1,
.editProf-input-2,
.checkout-input,
.contact-input,
.reset-input {
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  border-width: 0;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
}

.editProf-input-1:focus,
.editProf-input-2:focus,
.checkout-input:focus,
.contact-input:focus,
.reset-input:focus {
  outline: 1px solid #00000033;
}

.foot-input {
  background-color: #000000;
  color: white;
  font-weight: 400;
  font-size: 16px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 40px;
  border-radius: 4px;
}
.cart-coupon-input {
  background-color: #fafafa;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 300px;
  height: 56px;
  border: 1px solid #000000;
  padding-left: 10px;
  padding-right: 40px;
  border-radius: 4px;
}
.create-input {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  border-width: 0;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
}
.create-input-checkbox {
  accent-color: green;
  width: 100%;
  height: 50px;
}
@media (max-width: 600px) {
  .editProf-input-1,
  .editProf-input-2,
  .checkout-input,
  .contact-input,
  .reset-input {
    font-size: 14px;
    line-height: 19px;
    height: 35px;
  }
  .foot-input {
    font-size: 14px;
    height: 35px;
  }
  .cart-coupon-input {
    width: 100px;
    height: 35px;
    font-size: 14px;
  }
  .create-input {
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    height: 35px;
  }
  .create-input-checkbox {
    height: 35px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .editProf-input-1,
  .editProf-input-2,
  .checkout-input,
  .contact-input,
  .reset-input {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
  }
  .cart-coupon-input {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .create-input {
    font-weight: 400px;
    font-size: 15px;
    line-height: 22px;
    width: 100%;
    height: 40px;
  }
  .create-input-checkbox {
    height: 40px;
  }
}
