.best-container {
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 60px;
}
.best-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.best-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: #db4444;
}
.best-month {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #db4444;
  margin-left: 15px;
}
.best-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1.44px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.best-carousel {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 27px;
  row-gap: 10px;
  justify-content: space-evenly;
}
.best-carousel > div {
  width: 260px;
}
.best-image-sect {
  box-sizing: border-box;
  padding-top: 35px;
  position: relative;
  background-color: #f5f5f5;
  width: 260px;
  height: 240px;
  justify-items: center;
}
.best-heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.best-eye {
  position: absolute;
  top: 50px;
  right: 10px;
}
.best-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}
.best-image-wrapper{
  align-content: center;
  text-align: center;
}
.best-image {
  max-width: 190px;
  max-height: 160px;
  margin-top: 25px;
}
.best-item-name,
.best-new-price, .best-old-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}
.best-new-price {
  color: #db4444;
}
.best-old-price {
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
  text-decoration: line-through;
}
.best-star-rating-wrapper {
  display: flex;
  margin-top: 5px;
}
.best-rating {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.5;
  margin-left: 8px;
}

@media (max-width: 600px) {
  .best-container {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .best-info {
    margin-left: 10px;
    margin-right: 10px;
  }
  .best-month {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .best-header {
    align-items: normal;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .best-header > div {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .best-carousel {
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  .best-carousel > div {
    width: 150px;
  }
  .best-image-sect {
    width: 100%;
    height: 150px;
    border-radius: 20px;
  }
  .best-image {
    max-width: 95%;
    max-height: 100px;
    margin-top: 0px;
  }
  .best-heart {
    top: 5px;
    right: 5px;
  }
  .best-eye {
    top: 5px;
    left: 5px;
  }
  .best-icon {
    width: 15px;
    height: 15px;
  }
  .best-item-name,
  .best-new-price, .best-old-price {
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
  }
  .best-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 0px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .best-container {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .best-header > div {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .best-carousel {
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 20px;
  }
  .best-carousel > div {
    width: 150px;
  }
  .best-image-sect {
    width: 100%;
    height: 150px;
    border-radius: 20px;
  }
  .best-image {
    max-width: 95%;
    max-height: 100px;
    margin-top: 0px;
  }
  .best-heart {
    top: 5px;
    right: 5px;
  }
  .best-eye {
    top: 5px;
    left: 5px;
  }
  .best-icon {
    width: 15px;
    height: 15px;
  }
  .best-item-name,
  .best-new-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .best-rating {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 0px;
  }
}
