.dropdown-container {
    position: relative;
    z-index: 100;
  }
  .dropdown-wrapper {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: grid;
    background-color: #7c6682fc;
    color: #fafafa;
    padding: 15px 5px 15px 15px ;
    border-radius: 4px;
    font-size: 13px;
    line-height: 21px;
    height: 200px;
    width: 200px;
  }
  .dropdown-wrapper > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }
  .dropIcon{
  width: 24px;
  height: 24px;
  }
  .dropdown-wrapper > div > p{
   margin: 0;
  }
  