.custom-btn {
  width: 214px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  background-color: #db4444;
  color: #fafafa;
  border-radius: 4px;
  border-width: 0px;
}
.auth-btn-login{
  width: 143px;
}
.auth-btn-create{
  width: 100%;
}
@media (max-width: 600px) {
  .custom-btn {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
  .auth-btn-login{
    width: 143px;
  }
  .auth-btn-create{
    width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .custom-btn {
    width: 180px;
    height: 46px;
  }
  .auth-btn-login{
    width: 140px;
  }
  .auth-btn-create{
    width: 100%;
  }
  .auth-btn-google{
    width: 100%;
  }
}
